<h1>EAT-DA-BURGER</h1>

<p>Choose your burger wisely...</p>

<br>
<br>
<img src="assets/img/dennys-big-burger-bash.jpg" alt="Burgers In A Row" class="burgerImage">  
<br>
<br> 

<!-- Pass in data from server.js -->
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="newBurger" name="name">
    {{!-- SUBMIT BUTTON --}}
    <button class="btn submit-burger" type="submit">Submit</button>
  </div>


</form>

{{!-- Render Burgers --}}
<br><br>


<div class="row">

  <div class="col-sm-4"></div>

  <div class="col-sm-4 burgerList">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{else}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </div>

  <div class="col-sm-4"></div>

</div>