<h1>EAT-DA-BURGER</h1>

<p>Choose your burger wisely...</p>

<!-- Pass in data from server.js -->
<h2></h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

{{!-- SUBMIT BUTTON --}}
  <button class="btn submit-burger" type="submit">Submit</button>
</form>

{{!-- DEVOUR BUTTON --}}
<button class="btn btn-primary devour-burger" type="submit" data-id="{{id}}" data-devourburger="{{burger_name}}">Devour
  it!</button>


{{!-- DELETE BUTTON --}}
<button data-id="{{this.id}}" class="delburger">Delete</button>