body {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #aa4040
}

p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #aa4040
}

.form-group {
  text-align: center;
}

.btn {
  margin-left: 50px;
}